
singularity {

    autoMounts=true
    enabled=true

}

boonstim_dir="/projects/jjeyachandra/BOONStim/"
rtms_simg="$boonstim_dir/containers/rtms_bayesian/rtms_bayesian_v0.4-2019-09-09-e99bae9f511b.simg"
params.rtms_bin="$boonstim_dir/pipeline/bin"
params.coil_dir="/projects/jjeyachandra/simnibs/ccd-files/"
params.coil = "/coil/Magstim_70mm_Fig8.nii.gz"
params.cpus=12

process {

	withName: fem_optimize {
	
		container = rtms_simg
                containerOptions = "-B $params.rtms_bin:$params.rtms_bin \
                                    -B $params.coil_dir:/coil"
	}

}
