singularity {

    autoMounts=true
    enabled=true

}

// Remove workflow workdir upon completion
cleanup = "True"

//Process configuration 
params.atlasdir="/projects/jjeyachandra/BOONStim/pipeline/templates/"
params.license="/opt/quarantine/freesurfer/6.0.0/build/"
params.msm_conf="/projects/jjeyachandra/BOONStim/pipeline/msm_conf"

process {

   withLabel: freesurfer {
        container = '/projects/jjeyachandra/BOONStim/containers/freesurfer_6.0.1/freesurfer_expert_6.0.1.simg'
        executor = 'local'
    } 

    withLabel: connectome {

        container = '/projects/jjeyachandra/BOONStim/containers/connectome_workbench/connectome_workbench_v1.0-2019-06-05-bbdb3be76afe.simg'
        executor = 'local'

    }

    withLabel: optimize {

        container = '/projects/jjeyachandra/BOONStim/containers/rtms_bayesian/fieldopt_python3.7-2019-06-10-bf46e7802bc4.simg'
        executor = 'local'
    }


}


