// Requirements for computing necessary components
// Define which script to use

singularity {

    autoMounts=true
    enabled=true

}

boonstim_dir="/projects/jjeyachandra/BOONStim/"
rtms_simg="$boonstim_dir/containers/rtms_bayesian/rtms_bayesian_v0.3-2019-08-30-d61fc00c649c.simg"
params.rtms_bin="$boonstim_dir/pipeline/bin"

params.weightfunc="/projects/jjeyachandra/compute_dmpfc_mentalizing/bin/calculate_mentalizing_func.sh"
params.massfunc="/projects/jjeyachandra/compute_dmpfc_mentalizing/bin/calculate_com.sh"
params.outfile="dmpfc_connectivity.dscalar.nii"

env.MENTDIR="/projects/jjeyachandra/compute_dmpfc_mentalizing/"

process {

    withName: extract_affine {
        container = rtms_simg
        containerOptions = "-B $params.rtms_bin:$params.rtms_bin"
    }

    withName: make_surface_patch {
        container = rtms_simg
        containerOptions = "-B $params.rtms_bin:$params.rtms_bin"
    }

    withName: parameterize_surface {
        container = rtms_simg
        containerOptions = "-B $params.rtms_bin:$params.rtms_bin"
    }

    withName: tetrahedral_projection {
        container = rtms_simg
        containerOptions = "-B  $params.rtms_bin:$params.rtms_bin"

    }
}

