// Requirements for computing necessary components
// Define which script to use

params.weightfunc="/projects/jjeyachandra/compute_dmpfc_mentalizing/bin/calculate_mentalizing_func.sh"
params.massfunc="/projects/jjeyachandra/compute_dmpfc_mentalizing/bin/calculate_com.sh"
params.outfile="dmpfc_connectivity.dscalar.nii"
env.MENTDIR="/projects/jjeyachandra/compute_dmpfc_mentalizing/"

process {

    // Configure required module + environment
    withName: compute_weightfunc {
        
        module = ["connectome-workbench"]
        beforeScript = "source activate /projects/jjeyachandra/compute_dmpfc_mentalizing/mentalizing_env"

    }

    withName: calculate_CoM {
        module = ["connectome-workbench"]
        beforeScript = "source activate /projects/jjeyachandra/compute_dmpfc_mentalizing/mentalizing_env"
    }

}

