// Requirements for computing necessary components
// Define which script to use

singularity {

    autoMounts=true
    enabled=true

}

boonstim_dir="/projects/jjeyachandra/BOONStim/"
rtms_simg="$boonstim_dir/containers/rtms_bayesian/rtms_bayesian_v0.1-2019-08-19-a43a4e58f6e5.simg"
rtms_bin="$boonstim_dir/pipeline/bin"

params.weightfunc="/projects/jjeyachandra/compute_dmpfc_mentalizing/bin/calculate_mentalizing_func.sh"
params.massfunc="/projects/jjeyachandra/compute_dmpfc_mentalizing/bin/calculate_com.sh"
params.outfile="dmpfc_connectivity.dscalar.nii"

env.MENTDIR="/projects/jjeyachandra/compute_dmpfc_mentalizing/"

process {

    // Configure required module + environment
    withName: compute_weightfunc {
        
        module = ["connectome-workbench"]
        beforeScript = "source activate /projects/jjeyachandra/compute_dmpfc_mentalizing/mentalizing_env"

    }

    withName: calculate_CoM {
        module = ["connectome-workbench"]
        beforeScript = "source activate /projects/jjeyachandra/compute_dmpfc_mentalizing/mentalizing_env"
    }

    withName: extract_affine {
        container = rtms_simg
    }

    withName: make_surface_patch {
        container = rtms_simg
        containerOptions = "-B $rtms_bin:$rtms_bin"
        env.PATH="$PATH:$rtms_bin"
    }

    withName: parameterize_surface {
        container = rtms_simg
        containerOptions = "-B $rtms_bin:$rtms_bin"
        env.PATH="$PATH:$rtms_bin"
    }
}

