singularity {
    autoMounts=true
    enabled=true
}

params.MENTDIR = "/projects/jjeyachandra/compute_dmpfc_mentalizing/"
params.inverse_mask = "/projects/jjeyachandra/compute_dmpfc_mentalizing/templates/dmpfc_inverse_mask.nii.gz"
params.mask = "/projects/jjeyachandra/compute_dmpfc_mentalizing/templates/dmpfc_mask.nii.gz"
params.clean_config = "/projects/jjeyachandra/compute_dmpfc_mentalizing/clean_config/rtms_clean.json"
