singularity {

    autoMounts=true
    enabled=true

}

repo = "/projects/jjeyachandra/BOONStim"

// BIN DIRECTORY
bin = "${repo}/pipeline/dsl2/bin"

// COIL TO USE
coil = "/projects/jjeyachandra/simnibs/ccd-files/Magstim_70mm_Fig8.nii.gz"

// CIFTIFY SPEC
ciftify_img = "/archive/code/containers/FMRIPREP_CIFTIFY/tigrlab_fmriprep_ciftify_1.3.0.post2-2.3.1-2019-04-04-8ebe3500bebf.img"
simg = "$ciftify_img"
ciftify_invocation = "${repo}/pipeline/invocations/fmriprep_ciftify-1.3.0.post2-2.3.1_invocation.json"
ciftify_descriptor = "${repo}/pipeline/invocations/fmriprep_ciftify-1.3.0.post2-2.3.1.json"

// FMRIPREP SPEC
fmriprep_img = "/archive/code/containers/FMRIPREP/poldracklab_fmriprep_1.3.2-2019-03-18-573e99cc5d39.simg"
anat_invocation = "${repo}/pipeline/invocations/fmriprep_anat_wf.json"
anat_descriptor = "/projects/jjeyachandra/boutiques_jsons/descriptors/fmriprep-1.3.2.json"

// FREESURFER SPEC
freesurfer = "${repo}/containers/freesurfer_6.0.1/freesurfer_expert_6.0.1.simg"
license="/opt/quarantine/freesurfer/6.0.0/build/"

// CONNECTOME WORKBENCH SPEC
connectome = "${repo}/containers/connectome_workbench/connectome_workbench_v1.0-2019-06-05-bbdb3be76afe.simg"

// ATLASES
atlas = "${repo}/pipeline/templates/"

// MSM
msm = "${repo}/pipeline/msm_conf/"

// Custom user-defined weight function configuration
includeConfig "${repo}/pipeline/dsl2/user/calculate_mentalizing_weightfunc.nf.config"
weightworkflow = "${repo}/pipeline/dsl2/user/calculate_mentalizing_weightfunc.nf"

// Container directories
freesurfer_img = "${repo}/containers/freesurfer_6.0.1/freesurfer_expert_6.0.1.simg"
rtms_img =  "${repo}/containers/rtms_bayesian/rtms_bayesian_v0.8-2019-12-12-d4323a9e5eba.simg"
simnibs3_img = "${repo}/containers/simnibs_3.0/mri2mesh_v3.0_v0.2-2019-06-24-1dfbbefb361d.simg"
connectome_img = "${repo}/containers/connectome_workbench/connectome_workbench_v1.0-2019-06-05-bbdb3be76afe.simg"

// runtime specifications
num_cpus = 8

// For dealing with SCC
scc_base = "/KIMEL/tigrlab/"
profiles {
    scc { includeConfig "./scc.nf.config" }
    local { includeConfig "./local.nf.config" }
}
