singularity {

    autoMounts=true
    enabled=true

}

// BIN DIRECTORY
bin = "/projects/jjeyachandra/BOONStim/pipeline/dsl2/bin"

// COIL TO USE
coil = "/projects/jjeyachandra/simnibs/ccd-files/Magstim_70mm_Fig8.nii.gz"

// CIFTIFY SPEC
simg = "/archive/code/containers/FMRIPREP_CIFTIFY/tigrlab_fmriprep_ciftify_1.3.0.post2-2.3.1-2019-04-04-8ebe3500bebf.img"
ciftify_invocation = "/projects/jjeyachandra/boutiques_jsons/invocations/fmriprep_ciftify-1.3.0.post2-2.3.1_invocation.json"
ciftify_descriptor = "/projects/jjeyachandra/boutiques_jsons/descriptors/fmriprep_ciftify-1.3.0.post2-2.3.1.json"

// FMRIPREP SPEC
anat_invocation = "/projects/jjeyachandra/BOONStim/pipeline/invocations/fmriprep_anat_wf.json"
anat_descriptor = "/projects/jjeyachandra/boutiques_jsons/descriptors/fmriprep-1.3.2.json"

// FREESURFER SPEC
freesurfer = '/projects/jjeyachandra/BOONStim/containers/freesurfer_6.0.1/freesurfer_expert_6.0.1.simg'
license="/opt/quarantine/freesurfer/6.0.0/build/"

// CONNECTOME WORKBENCH SPEC
connectome = '/projects/jjeyachandra/BOONStim/containers/connectome_workbench/connectome_workbench_v1.0-2019-06-05-bbdb3be76afe.simg'

// BIDS-APPS SPEC
work = "/tmp/"

// ATLASES
atlas = "/projects/jjeyachandra/BOONStim/pipeline/templates/"

// MSM
msm = "/projects/jjeyachandra/BOONStim/pipeline/msm_conf/"

// Custom user-defined weight function configuration
includeConfig "../user/calculate_mentalizing_weightfunc.nf.config"
weightworkflow = "/projects/jjeyachandra/BOONStim/pipeline/dsl2/user/calculate_mentalizing_weightfunc.nf"

scc_base = "/KIMEL/tigrlab/"

profiles {

    //Full cluster parallelization - SCC
    scc {
        executor = 'slurm'
        params.bin = "${scc_base}/${bin}"
        params.coil = "${scc_base}/${coil}"
        params.simg = "${scc_base}/${simg}"
        params.ciftify_invocation = "${scc_base}/${ciftify_invocation}"
        params.ciftify_descriptor = "${scc_base}/${ciftify_descriptor}"
        params.anat_invocation = "${scc_base}/${anat_invocation}"
        params.anat_descriptor = "${scc_base}/${anat_descriptor}"
        params.license = "${scc_base}/${license}"
        params.freesurfer = "${scc_base}/${freesurfer}"
        params.connectome = "${scc_base}/${connectome}"
        params.atlas = "${scc_base}/${atlas}"
        params.msm = "${scc_base}/${msm}"
        params.weightworkflow = "${scc_base}/${weightworkflow}"
        params.work = "/export/ramdisk"
    }

    //Single-subject parallelization - SCC
    scc_local {
        executor = 'local'
        params.bin = "${scc_base}/${bin}"
        params.coil = "${scc_base}/${coil}"
        params.simg = "${scc_base}/${simg}"
        params.ciftify_invocation = "${scc_base}/${ciftify_invocation}"
        params.ciftify_descriptor = "${scc_base}/${ciftify_descriptor}"
        params.anat_invocation = "${scc_base}/${anat_invocation}"
        params.anat_descriptor = "${scc_base}/${anat_descriptor}"
        params.license = "${scc_base}/${license}"
        params.freesurfer = "${scc_base}/${freesurfer}"
        params.connectome = "${scc_base}/${connectome}"
        params.atlas = "${scc_base}/${atlas}"
        params.msm = "${scc_base}/${msm}"
        params.weightworkflow = "${scc_base}/${weightworkflow}"
        params.work = "/export/ramdisk"
        }

    //Full cluster parallelization - Kimel
    kimel {
        executor = 'slurm'
        base = ""
        params.bin = "${bin}"
        params.coil = "${coil}"
        params.simg = "${simg}"
        params.ciftify_invocation = "${ciftify_invocation}"
        params.ciftify_descriptor = "${ciftify_descriptor}"
        params.anat_invocation = "${anat_invocation}"
        params.anat_descriptor = "${anat_descriptor}"
        params.license = "${license}"
        params.freesurfer = "${freesurfer}"
        params.connectome = "${connectome}"
        params.atlas = "${atlas}"
        params.msm = "${msm}"
        params.weightworkflow = "${weightworkflow}"
        params.work = "/tmp/"
    }

    //Single-subject parallelization - Kimel
    kimel_local {
        executor = 'local'
        base = ""
        params.bin = "${bin}"
        params.coil = "${coil}"
        params.simg = "${simg}"
        params.ciftify_invocation = "${ciftify_invocation}"
        params.ciftify_descriptor = "${ciftify_descriptor}"
        params.anat_invocation = "${anat_invocation}"
        params.anat_descriptor = "${anat_descriptor}"
        params.license = "${license}"
        params.freesurfer = "${freesurfer}"
        params.connectome = "${connectome}"
        params.atlas = "${atlas}"
        params.msm = "${msm}"
        params.weightworkflow = "${weightworkflow}"
        params.work = "/tmp/"
    }
    
    //Full local computation
    local {
        executor = 'local'
        base = ""
        params.bin = "${bin}"
        params.coil = "${coil}"
        params.simg = "${simg}"
        params.ciftify_invocation = "${ciftify_invocation}"
        params.ciftify_descriptor = "${ciftify_descriptor}"
        params.anat_invocation = "${anat_invocation}"
        params.anat_descriptor = "${anat_descriptor}"
        params.license = "${license}"
        params.freesurfer = "${freesurfer}"
        params.connectome = "${connectome}"
        params.atlas = "${atlas}"
        params.msm = "${msm}"
        params.weightworkflow = "${weightworkflow}"
        params.work = "/tmp/"
    }
}



process {
    withName: fmriprep_anat {
        
        errorStrategy = 'retry'
        maxRetries = 3
        queue = "high-moby"
        clusterOptions = "--time=36:00:00 --mem-per-cpu=2048\
         --cpus-per-task=4 --job-name boonstim_ciftify\
         --nodes=1"
                

    }
    
    withName: ciftify{

        errorStrategy = 'retry'
        maxRetries = 3
        queue = "high-moby"
        clusterOptions = "--time=36:00:00 --mem-per-cpu=2048\
         --cpus-per-task=4 --job-name boonstim_ciftify\
         --nodes=1"

    }

    withName: mri2mesh{

        container = "/projects/jjeyachandra/BOONStim/containers/simnibs_3.0/mri2mesh_v3.0_v0.2-2019-06-24-1dfbbefb361d.simg"
        errorStrategy = 'retry'
        maxRetries = 3
        queue = 'high-moby'
        clusterOptions = "--time=36:00:00 --mem-per-cpu=2048\
         --cpus-per-task=4 --job-name boonstim_ciftify\
         --nodes=1"
        
    }

    withLabel: ciftify{
        container = "/archive/code/containers/FMRIPREP_CIFTIFY/tigrlab_fmriprep_ciftify_1.3.2-2.3.2-2019-06-07-ba20178606c2.simg"
    }

    withLabel: freesurfer{
        container = '/projects/jjeyachandra/BOONStim/containers/freesurfer_6.0.1/freesurfer_expert_6.0.1.simg'
    }

    withLabel: connectome{
        container = '/projects/jjeyachandra/BOONStim/containers/connectome_workbench/connectome_workbench_v1.0-2019-06-05-bbdb3be76afe.simg'
    }


    withLabel: rtms{
        container ="/projects/jjeyachandra/BOONStim/containers/rtms_bayesian/rtms_bayesian_v0.4-2019-09-09-e99bae9f511b.simg"
    }
    withLabel: gmsh4{
        container ="/projects/jjeyachandra/BOONStim/containers/rtms_bayesian/rtms_bayesian_v0.4-2019-09-09-e99bae9f511b.simg"
}



}

