singularity {

    autoMounts=true
    enabled=true

}

// CIFTIFY SPEC
params.simg = "/archive/code/containers/FMRIPREP_CIFTIFY/tigrlab_fmriprep_ciftify_1.3.0.post2-2.3.1-2019-04-04-8ebe3500bebf.img"
params.ciftify_invocation = "/projects/jjeyachandra/boutiques_jsons/invocations/fmriprep_ciftify-1.3.0.post2-2.3.1_invocation.json"
params.ciftify_descriptor = "/projects/jjeyachandra/boutiques_jsons/descriptors/fmriprep_ciftify-1.3.0.post2-2.3.1.json"

// FMRIPREP SPEC
params.anat_invocation = "/projects/jjeyachandra/BOONStim/pipeline/invocations/fmriprep_anat_wf.json"
params.anat_descriptor = "/projects/jjeyachandra/boutiques_jsons/descriptors/fmriprep-1.3.2.json"

// FREESURFER LICENSE
params.license="/opt/quarantine/freesurfer/6.0.0/build/"

// BIDS-APPS SPEC
params.work = "/tmp/"

//Local only for now
process {
    withName: fmriprep_anat {
        
        executor = "local"
        errorStrategy = 'retry'
        maxRetries = 3
        queue = "high-moby"
        clusterOptions = "--time=36:00:00 --mem-per-cpu=2048\
         --cpus-per-task=4 --job-name boonstim_ciftify\
         --nodes=1"
                

    }
    
    withName: ciftify{

        executor = "local"
        errorStrategy = 'retry'
        maxRetries = 3
        queue = "high-moby"
        clusterOptions = "--time=36:00:00 --mem-per-cpu=2048\
         --cpus-per-task=4 --job-name boonstim_ciftify\
         --nodes=1"

    }

    withName: mri2mesh{

        container = "/projects/jjeyachandra/BOONStim/containers/simnibs_3.0/mri2mesh_v3.0_v0.2-2019-06-24-1dfbbefb361d.simg"
        executor = "local"
        //errorStrategy = 'retry'
        //maxRetries = 1
        queue = 'high-moby'
        clusterOptions = "--time=36:00:00 --mem-per-cpu=2048\
         --cpus-per-task=4 --job-name boonstim_ciftify\
         --nodes=1"
        
    }

}

