params.bin = "${bin}"
params.coil = "${coil}"
params.simg = "${simg}"
params.ciftify_img = "${ciftify_img}"
params.ciftify_invocation = "${ciftify_invocation}"
params.ciftify_descriptor = "${ciftify_descriptor}"
params.fmriprep_img = "${fmriprep_img}"
params.anat_invocation = "${anat_invocation}"
params.anat_descriptor = "${anat_descriptor}"
params.license = "${license}"
params.freesurfer = "${freesurfer}"
params.connectome = "${connectome}"
params.atlas = "${atlas}"
params.msm = "${msm}"
params.weightworkflow = "${weightworkflow}"
params.work = "/tmp/"
params.cpus = num_cpus
process {

    withName: fmriprep_anat {
        executor = 'slurm'
        time = "12:00:00"
        cpus = 4
        queue = 'high-moby'
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        scratch = "${params.work}"
        storeDir = "/scratch/jjeyachandra/BOONStim/SPINS_batch/cache/fmriprep_anat"
    }

    withName: ciftify{
        executor = 'slurm'
        time = "24:00:00"
        cpus = 4
        queue = 'high-moby'
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        scratch = "${params.work}"
        storeDir = "/scratch/jjeyachandra/BOONStim/SPINS_batch/cache/ciftify"
    }

    withName: mri2mesh{
        executor = 'slurm'
        time = "24:00:00"
        cpus = 4
        queue = 'high-moby'
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        containerOptions = "-B ${params.license}:/license"
        container = "${simnibs3_img}"
        scratch = "${params.work}"
        storeDir = "/scratch/jjeyachandra/BOONStim/SPINS_batch/cache/mri2mesh"
    }

    withName: mri2mesh_brain{
        executor = 'slurm'
        time = "24:00:00"
        cpus = 4
        queue = 'high-moby'
        container = "${simnibs3_img}"
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        containerOptions = "-B ${params.license}:/license"
        scratch = "${params.work}"
        storeDir = "/scratch/jjeyachandra/BOONStim/SPINS_batch/cache/mri2mesh_brain"
    }

    withName: update_msh{
        executor = 'slurm'
        time = "5:00:00"
        cpus = 4
        queue = 'high-moby'
        maxForks = 10
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        storeDir = "/scratch/jjeyachandra/BOONStim/SPINS_batch/cache/update_msh"
    }

    withLabel: connectome{
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        container = "${connectome_img}"
    }

    withName: optimize_coil{
        executor = 'slurm'
        time = "12:00:00"
        cpus = num_cpus
        queue = 'high-moby'
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        scratch = "${params.work}"
    }

    withLabel: freesurfer{ container = "${freesurfer_img}" }
    withLabel: rtms{ container ="${rtms_img}" }
    withLabel: gmsh4{ container ="${rtms_img}" }
    withLabel: ciftify { container = "${ciftify_img}" }
}
