params.boonstim = '/projects/jjeyachandra/BOONStim/pipeline/dsl2/'

profiles {

    local {
        executor = 'local'
    }

    kimel {

        process {
            withName: run_boonstim_subject{

                executor = 'slurm'
                time = "72:00:00"
                cpus = 8
                queue = 'high-moby'
                clusterOptions = " --mem-per-cpu=1G"
                errorStrategy = {task.attempt == 3 ? "finish" : "retry"}

            }
        }
    }


}
