/*

This configuration file provides additional parameters that can be used to modify
how bayesian optimization jobs are configured to run on a particular cluster.

This extends BOONStim by 3 parameters:

--max_iters INTEGER
--skip_convergence BOOL
--bayes_cpus  INTEGER

Description:

--bayes_max_iters: Maximum number of optimization iterations to perform. If --skip_convergence is specified then the numbers of iterations will always hit max

--skip_convergence: Skip convergence criterion (1e-3 difference between iterations)

--bayes_cpus: Numbers of CPUS to allocate to bayesian optimization. The actual optimization will use (--bayes_cpus/2 - 2). Since SimNIBS specifies physical CPUS, 2 cpus are reserved for SimNIBS to collect results. SimNIBS will hang indefinitely otherwise!

*/

params.max_iters = 30
params.bayes_cpus = 32

Closure get_partition;
if (partition instanceof Closure){
    get_partition = partition
}else{
    get_partition = { t -> partition }
}

Closure cacheDir;
if (params.cache_dir){
    cacheDir = { f ->
                    def d = new File("$params.cache_dir/$f")
                    d.mkdirs()
                    "$params.cache_dir/$f"
               }
}else{
    cacheDir = { f -> "" }
}

process{

    withName: bayesian_optimization{
        executor = "${engine}"
        time = "24:00:00"
        cpus = params.bayes_cpus
        queue = {get_partition(task.time)}
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        storeDir = cacheDir("grid_optimization")
    }

}
