/*

This configuration file provides additional parameters that can be used to modify
how grid optimization jobs are configured to run on a particular cluster.

This extends BOONStim by 2 parameters:

--jobs_per_batch INTEGER
--jobs_per_run INTEGER
--positional_grid_num INTEGER
--rotational_grid_num INTEGER


Where --jobs_per_batch must be greater than or equal to --jobs_per_run

Description:

--jobs_per_batch: The number of FEM simulations to run per single job submitted to the queue

--jobs_per_run: The number of FEM simulations to run within a job at a time, this number of jobs will run simultaneously at a time until the total number of runs (--jobs_per_batch) is elapsed

--position_grid_num: The number of positions to sample along each dimension (X,Y). The total number of samples is equal to the square of this number.

--rotational_grid_num: The number of coil orientations to sample per location.

Therefore the total number of samples is (positions * positions * rotations)

*/

params.jobs_per_batch = 50
params.job_per_run = 15
params.positional_grid_num = 6
params.rotational_grid_num = 10
