/*

This configuration file provides additional parameters that can be used to modify
how grid optimization jobs are configured to run on a particular cluster.

This extends BOONStim by 3 parameters:

--batch_size INTEGER
--positional_grid_num INTEGER
--rotational_grid_num INTEGER

Description:

--position_grid_num: The number of positions to sample along each dimension (X,Y). The total number of samples is equal to the square of this number.

--rotational_grid_num: The number of coil orientations to sample per location.

--batch_size: The number of FEM simulations simultaneously at any given time. It is highly recommended that you set this to at most the number of physical cores - 1. Setting this to the number of threads will cause SimNIBS to lock.

Therefore the total number of samples is (positions * positions * rotations)

*/

params.batch_size = 15
params.positional_grid_num = 6
params.rotational_grid_num = 10
