if (!partition){
    partition = ""
}

Closure get_partition;
if (partition instanceof Closure){
    get_partition = partition
}else{
    get_partition = { t -> partition }
}

Closure cacheDir;
if (params.cache_dir){
    cacheDir = { f ->
                    def d = new File("$params.cache_dir/$f")
                    d.mkdirs()
                    "$params.cache_dir/$f"
               }
}else{
    cacheDir = { f -> "" }
}

process {

    withLabel: ants { container = "${params.ants}" }

    withLabel: freesurfer{ container = "${params.freesurfer}" }

    withLabel:fieldopt{
        container ="$params.fieldopt"
        containerOptions = "-B ${params.bin}:/scripts" }

    withLabel: gmsh4{ container ="$params.fieldopt" }

    withLabel: ciftify { container = "${params.ciftify}" }

    withLabel: connectome{
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        container = "${params.connectome}"
        beforeScript = "export SINGULARITYENV_OMP_NUM_THREADS=1"
        containerOptions = "-B ${params.atlas}:/atlas -B ${msm}:/msm_conf"
    }

    // CIFTI MESHING
    withName: fmriprep_anat{
        executor = "${engine}"
        time = "12:00:00"
        cpus = 8
        queue = {get_partition(task.time)}
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        storeDir = cacheDir("fmriprep_anat")
        scratch = true
    }

    withName: run_fmriprep{
        executor = "${engine}"
        time = "48:00:00"
        cpus = 18
        queue = {get_partition(task.time)}
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        storeDir = cacheDir("run_fmriprep")
        scratch = true
    }

    withName: ciftify{
        executor = "${engine}"
        time = "24:00:00"
        cpus = 8
        queue = {get_partition(task.time)}
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        storeDir = cacheDir("ciftify")
        cache = "lenient"
        scratch = true
    }

    withName: mri2mesh{
        executor = "${engine}"
        time = "24:00:00"
        cpus = 8
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        queue = {get_partition(task.time)}
        containerOptions = "-B ${params.license}:/license"
        container = "${params.simnibs}"
        storeDir = cacheDir("mri2mesh")
        scratch = true
    }

    withName: update_msh{
        executor = "${engine}"
        time = "5:00:00"
        cpus = 4
        maxForks = 10
        queue = {get_partition(task.time)}
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        storeDir = cacheDir("update_msh")
    }

    withName: clean_img{
        executor = "${engine}"
        time = "00:25:00"
        cpus = 1
        maxForks = 10
        queue = {get_partition(task.time)}
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        storeDir = cacheDir("clean_img")
    }

    // REGISTRATION
    withName: msm_sulc{
        errorStrategy = {task.attempt == 3 ? "finish": "retry"}
        executor= "${engine}"
        queue = {get_partition(task.time)}
        time = "3:00:00"
        cpus = params.num_cpus
        storeDir = cacheDir("msm_sulc")
    }

    withName: centroid_project2vol{
        errorStrategy = {task.attempt == 3 ? "finish": "retry"}
        executor= "${engine}"
        queue = {get_partition(task.time)}
        time = "0:25:00"
        cpus = params.num_cpus
    }

    withName: project_mask2surf{
        errorStrategy = {task.attempt == 3 ? "finish": "retry"}
        executor= "${engine}"
        queue = {get_partition(task.time)}
        time = "0:25:00"
        cpus = params.num_cpus
    }

    withName: smooth_img{
        executor = "${engine}"
        queue = {get_partition(task.time)}
        time = "1:00:00"
        cpus = params.num_cpus
        storeDir = cacheDir("cifti_smooth")
    }

    // PROJECTION AND OPTIMIZATION
    withName: "tet_project_weightfunc_wf:tetrahedral_projection"{
        executor = "${engine}"
        time = "5:00:00"
        cpus = params.num_cpus
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        storeDir = cacheDir("tetrahedral_projection")
        queue = {get_partition(task.time)}
    }

    withName: "tet_project_roi_wf:tetrahedral_projection"{
        executor = "${engine}"
        time = "5:00:00"
        cpus = params.num_cpus
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        storeDir = cacheDir("tetrahedral_roi_projection")
        queue = {get_partition(task.time)}
    }

    withName: tet_project2vol{
        errorStrategy = {task.attempt == 3 ? "finish": "retry"}
        executor= "${engine}"
        queue = {get_partition(task.time)}
        time = "0:25:00"
        cpus = params.num_cpus
        storeDir = cacheDir("te_project2vol")
    }

    withName: "get_cortical_distance_masked"{
        executor = "${engine}"
        queue = {get_partition(task.time)}
        cpus=4
        clusterOptions = "--mem-per-cpu=2G"
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
    }

    withName: "get_cortical_distance"{
        executor = "${engine}"
        queue = {get_partition(task.time)}
        cpus=4
        clusterOptions = "--mem-per-cpu=2G"
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
    }

    withName: optimize_coil{
        executor = "${engine}"
        time = "12:00:00"
        cpus = 32
        queue = {get_partition(task.time)}
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        storeDir = cacheDir("optimize_coil")
        maxForks = 5
        scratch = true
    }

    withName: evaluate_fem{
        executor = "${engine}"
        time = "00:20:00"
        cpus=4
        queue = {get_partition(task.time)}
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
    }

    withName: publish_boonstim{
        maxForks = 1
        cache = false
    }

    withName: qc_cortical_distance{
        storeDir = cacheDir("qc_cortical_distance")
        containerOptions = "-B ${params.geo}:/geo -B ${params.bin}:/scripts"
        executor = "${engine}"
        time = "00:20:00"
        queue = {get_partition(task.time)}
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        clusterOptions = "--mem-per-cpu=2G"
        cpus = 4
    }

    withName: get_scalp_seed{
        storeDir = cacheDir("get_scalp_seed")
        containerOptions = "-B ${params.bin}:/scripts"
        executor = "${engine}"
        time = "00:35:00"
        queue = {get_partition(task.time)}
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        clusterOptions = "--mem-per-cpu=2G"
        cpus = 6
    }

    withName: qc_parameteric_surf{
        storeDir = cacheDir("qc_parameteric_surf")
        containerOptions = "-B ${params.bin}:/scripts"
        executor = "${engine}"
        time = "00:20:00"
        queue = {get_partition(task.time)}
        cpus=2
    }

    withName: dilate_mt_roi{
        storeDir = cacheDir("dilate_mt_roi")
        time = "00:20:00"
        queue = {get_partition(task.time)}
        errorStrategy = {task.attempt == 3 ? "finish" : "retry"}
        cpus = 4
        maxForks = 4
    }

    withName: 'publish_*'{
        cache = false
    }
}
