// Enable singularity engine
singularity {
    autoMounts=true
    enabled=true
}

// PATH TO RTMS GITHUB REPO
repo = 
bin = "${repo}/pipeline/dsl2/bin"

// COIL DEFINITION FILE
coil = 

// CIFTIFY SINGULARITY IMAGE
ciftify_img = 
simg = "$ciftify_img"

// CIFTIFY INVOCATION and DESCRIPTOR JSON (BOUTIQUES)
ciftify_invocation = "${repo}/pipeline/invocations/fmriprep_ciftify-1.3.0.post2-2.3.1_invocation.json"
ciftify_descriptor = "${repo}/pipeline/invocations/fmriprep_ciftify-1.3.0.post2-2.3.1.json"

// FMRIPREP SINGULARITY IMAGE
fmriprep_img = 
anat_invocation = "${repo}/pipeline/invocations/fmriprep_anat_wf.json"
anat_descriptor = "${repo}/pipeline/invocations/fmriprep-1.3.2.json"

// PATH TO FREESURFER LICENSE
license=

// ATLASES
atlas = "${repo}/pipeline/templates/"

// MSM
msm = "${repo}/pipeline/msm_conf/"

// Custom user-defined weight function configuration
includeConfig "<IF ADDITIONAL CONFIG NEEDED>"
weightworkflow = "<PATH TO YOUR ROI SELECTION WORKFLOW FILE>"

// Provided container directories
freesurfer_img = "${repo}/containers/freesurfer_6.0.1/freesurfer_expert_6.0.1.simg"
rtms_img =  "${repo}/containers/rtms_bayesian/rtms_bayesian_v0.8-2019-12-12-d4323a9e5eba.simg"
simnibs3_img = "${repo}/containers/simnibs_3.0/mri2mesh_v3.0_v0.2-2019-06-24-1dfbbefb361d.simg"
connectome_img = "${repo}/containers/connectome_workbench/connectome_workbench_v1.0-2019-06-05-bbdb3be76afe.simg"

// runtime specifications
num_cpus = 8

profiles {
    scc { includeConfig './scc.nf.config' }
    local { includeConfig './local.nf.config' }
}
