profiles {

    local{
        params.MENTDIR = "/projects/jjeyachandra/compute_dmpfc_mentalizing/"
        params.inverse_mask = "${params.MENTDIR}/templates/dmpfc_inverse_mask.nii.gz"
        params.mask = "${params.MENTDIR}/templates/dmpfc_mask.nii.gz"
        params.clean_config = "${params.MENTDIR}/clean_config/rtms_clean.json"
        params.weightworkflow = "/projects/jjeyachandra/BOONStim/user/calculate_mentalizing_weightfunc.nf"
    }

    kimel{
        params.MENTDIR = "/projects/jjeyachandra/compute_dmpfc_mentalizing/"
        params.inverse_mask = "${params.MENTDIR}/templates/dmpfc_inverse_mask.nii.gz"
        params.mask = "${params.MENTDIR}/templates/dmpfc_mask.nii.gz"
        params.clean_config = "${params.MENTDIR}/clean_config/rtms_clean.json"
        params.weightworkflow = "/projects/jjeyachandra/BOONStim/user/calculate_mentalizing_weightfunc.nf"
    }

    scc{
        params.MENTDIR = "/KIMEL/tigrlab/projects/jjeyachandra/compute_dmpfc_mentalizing/"
        params.MENTDIR = "/KIMEL/tigrlab/projects/jjeyachandra/compute_dmpfc_mentalizing/"
        params.inverse_mask = "/KIMEL/tigrlab/projects/jjeyachandra/compute_dmpfc_mentalizing/templates/dmpfc_inverse_mask.nii.gz"
        params.mask = "/KIMEL/tigrlab/projects/jjeyachandra/compute_dmpfc_mentalizing/templates/dmpfc_mask.nii.gz"
        params.clean_config = "/KIMEL/tigrlab/projects/jjeyachandra/compute_dmpfc_mentalizing/clean_config/rtms_clean.json"
    }
}

