singularity {
    autoMounts=true
    enabled=true
}

profiles {

    local{
        params.MENTDIR = "/projects/jjeyachandra/compute_dmpfc_mentalizing/"
        params.inverse_mask = "/projects/jjeyachandra/compute_dmpfc_mentalizing/templates/dmpfc_inverse_mask.nii.gz"
        params.mask = "/projects/jjeyachandra/compute_dmpfc_mentalizing/templates/dmpfc_mask.nii.gz"
        params.clean_config = "/projects/jjeyachandra/compute_dmpfc_mentalizing/clean_config/rtms_clean.json"
    }

    kimel{
        params.MENTDIR = "/projects/jjeyachandra/compute_dmpfc_mentalizing/"
        params.inverse_mask = "/projects/jjeyachandra/compute_dmpfc_mentalizing/templates/dmpfc_inverse_mask.nii.gz"
        params.mask = "/projects/jjeyachandra/compute_dmpfc_mentalizing/templates/dmpfc_mask.nii.gz"
        params.clean_config = "/projects/jjeyachandra/compute_dmpfc_mentalizing/clean_config/rtms_clean.json"
    }

    scc{
        params.MENTDIR = "/KIMEL/tigrlab/projects/jjeyachandra/compute_dmpfc_mentalizing/"
        params.inverse_mask = "/KIMEL/tigrlab/projects/jjeyachandra/compute_dmpfc_mentalizing/templates/dmpfc_inverse_mask.nii.gz"
        params.mask = "/KIMEL/tigrlab/projects/jjeyachandra/compute_dmpfc_mentalizing/templates/dmpfc_mask.nii.gz"
        params.clean_config = "/KIMEL/tigrlab/projects/jjeyachandra/compute_dmpfc_mentalizing/clean_config/rtms_clean.json"
    }
}

includeConfig '../config/boonstim.nf.config'
